.nav-primary .navbar-collapse{
    justify-content: flex-end;
}
.dropdown-menu{
    background: red;
}
.carousel-banner{
    margin-top: 56px;
}
.carousel-banner img{
    height: 70vh;
    object-fit: cover;
    /* padding-top: 56px; */
}
.carousel-banner h5{
    font-size: 40px;
}
/* .col{
    max-width: 18rem;
} */
h1.title{
    margin:20px 0;
}
.main-grid img{
    height: 200px;
}
.row-margin > div{
    margin-bottom: 25px;
}
.call-to-action > .container{
    border-top: 1px solid lightgray;
    padding:15px 0;
    margin-top:15px;
}
.modern-business .col-lg-6{
    /* padding: 0; */
}